.App {
  color: #222;
}

.App-header {
  background-color: #444;
  height: 30px;
  line-height: 30px;
  padding: 4px;
  padding-left: 16px;
  color: white;
}

.App-body {
  padding: 8px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.App-box {
  flex: 1;
  width: 100%;
  min-height: 300px;
  padding: 8px;
}

.App-textarea {
  color: #222;
  border: 1px solid #ddd;
}

.App-textarea:focus {
  outline: none;
}

.App-textview {
}

.App-line {
  height: 1.05em;
  line-height: 1.05em;
}
